<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  <ion-title>Profile</ion-title>
  <!-- <ngx-ui-loader ></ngx-ui-loader> -->
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>User Profile</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>Name: <span style="margin: 5px; font-size: 15px;">{{name}}</span></p>
      <p>Mobile No.: <span style="margin: 5px; font-size: 15px;">{{mobile}}</span></p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
