
      
    
      <form method="post" #testForm action="https://securegw-stage.paytm.in/order/process" name="testForm">
         <table>
            <tbody>
               <input name="MID" value={{MID}}>
                  <input name="WEBSITE" value={{WEBSITE}}>
                  <input name="ORDER_ID" value={{ORDER_ID}}>
                  <input name="CUST_ID" value={{CUST_ID}}>
                  <input name="MOBILE_NO" value={{CUST_ID}}>
                  <input name="INDUSTRY_TYPE_ID" value={{INDUSTRY_TYPE_ID}}>
                  <input name="CHANNEL_ID" value={{CHANNEL_ID}}>
                  <input name="TXN_AMOUNT" value={{TXN_AMOUNT}}>
                  <input name="CALLBACK_URL" value="http://qilinlab.com">
                  <input name="CHECKSUMHASH" value={{checksum}}>
                  <!-- <input name="WEBSITE" value="WEBSTAGING">
                  <input name="ORDER_ID" value="G7VT2R">
                  <input name="CUST_ID" value="7IUG1O">
                  <input name="INDUSTRY_TYPE_ID" value="Retail">
                  <input name="CHANNEL_ID" value="WAP">
                  <input name="TXN_AMOUNT" value="40">
                  <input name="CALLBACK_URL" value="http://qilinlab.com">
                  <input name="CHECKSUMHASH" value="jkrD2zAB9A23bhcjBxfUWmUNG5w7sAcISbPPN3deGcaq5yadjbCtrhCryAcqBmceV4aClFzTNfXouYZrK8NB4bdTkpvDUn/pZU/8Hjm7qt8="> -->
            </tbody>
         </table>
      </form>